
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.controls{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width:220px;
    height: 30%;
}

.control-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}