.container{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.controls{
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 1;
    background:transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width:250px;
    height: 30%;
}

.control-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


.vertical-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    z-index: 1;
  }
  
  .vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .vertical-slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }
